body {
  font-family: Consolas, "Courier New", monospace;
  font-size: 14px;
  margin: 0px;
  background-color: rgb(30, 30, 30);
}

h1,
h2 {
    font-weight: normal;
    margin: 3px;
}

h1 {
    letter-spacing: 1px;
}

h2 {
    font-size: 14px;
    padding: 3px;
    margin-top: 15px;
    border-bottom: 1px solid rgb(212, 212, 212);
    text-transform: uppercase;
}

table {
    width: 100%;
}

table.three td {
    width: 33%;
}

.fright {
    float: right;
}

.center {
    text-align: center;
}

.nowrap
{
  white-space: pre;
  vertical-align: top;
  position: relative;
  top: 7px;  
}

th {
    width: 130px;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}

.container {
  width: 100%;
}
.right {
  width: auto;
  background-color: rgb(30, 30, 30);
  overflow: hidden;
}
.left {
  width: 45px;
  background-color: rgb(30, 30, 30);
  float: left;
}

table.three td {
	width: 25%;
}

span {
  font-size: 14px;
}

.code-lines {
  background-color: rgb(30, 30, 30);
  color: rgb(133, 133, 133);
  width: 45px;
  float: left;
}

.code-lines-inner {
  text-align: right;
  width: 30px;
}

.content {
  background-color: rgb(30, 30, 30);
  border-left: none;
  float: left;
}

.content-inner {
  border-left: 1px solid rgb(64, 64, 64);
  padding-left: 5px;
  float: left;
}

.import {
  color: rgb(165, 134, 192);
}

.light {
  color: rgb(103, 205, 254);
}

.string {
  color: rgb(184, 137, 86);
}

.blue {
  color: rgb(37, 102, 202);
}
.green {
  color: rgb(58,201,176);
}
.yellow {
  color: rgb(220, 220, 170);
}
.white {
  color: rgb(212, 212, 212);
}
.debug {
  background-color: rgb(75,75,24);
}
.breakpoint {
  position: relative;
  display: inline-block;
  top: 5px;
  left: -10px;
  height: 8px;
  width: 8px;
  background-color: rgb(229,20,0);
  border-radius: 50%;
}

.list {
  list-style:disc outside none;
  display:list-item; 
}

.bullet {
  position: relative;
  display: inline-block;
   top: 5px;
  left: -10px; 
  height: 8px;
  width: 8px;
  background-color: rgb(248,196,8);
  border-radius: 50%;
}

.icon {
  width: 33px; 
  height: 33px;
}
.move-down {
  position: relative;
  top: 20px
}
.languages {
  margin-left: 55px;
  margin-top:10px;
  margin-bottom: 10px;
}
.languages-inner {
  padding-left: 45px;
  border-left: 1px solid rgb(64, 64, 64);
}